.nav {
  padding: 40px 0px;
  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    color: $colorTextAdditional;
    font-weight: 500;
  }
}
.header {
  border-bottom: 1px solid #a1a1a1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: background-color 0.3s linear;

  &__container {
    margin: 0 auto;
  }
}

.header.scrolled {
  background-color: #212121bf;
}

.to-top__button {
  padding: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.to-top__svg {
  width: 30px;
  height: 30px;
  fill: $colorTextAdditional;

}

.header.scrolled .to-top__button {
  opacity: 1;
}

@media (min-width: 480px) {
  .nav {
    padding-inline: 20px;
  }
}

@media (min-width: 768px) {
  .nav__list {
    justify-content: center;
  }

  .header {
    position: fixed;
  }
}
@media (min-width: 1200px) {
  .nav {
    padding-inline: 0px;
  }

  .nav__list {
    justify-content: flex-end;
  }
}
