.hero {
  height: 100vh;
  background-image: url(/src/images/hero/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__title {
    color: $colorTextAdditional;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 14px;
  }
  &__subtitle {
    color: $colorTextAdditional;
    text-align: center;
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 50px;
  }

  &__button {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 48px;
  }

  .hero__title {
    font-size: 16px;
  }

  .hero__button {
    &:hover {
      transform: scale(1.3);
    }
    &:focus {
      transform: scale(1.3);
    }
  }
}
