.video {
  background-image: url(../images/video/work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100vw;
  // height: 570px;
  padding: 50px 0;
  // margin-bottom: 80px;
}
.video__container {
  padding-inline: 20px;
}
.video__title {
  text-align: center;
  color: $colorTextAdditional;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
  margin-bottom: 30px;
}
.video__text {
  text-align: center;
  color: $colorTextAdditional;
  line-height: 158.47%;
  margin-bottom: 30px;
}

.play-video {
  // position: absolute;
  // bottom: 10px;
  background-image: url(../images/video/offise.jpg);
  background-repeat: no-repeat;
  background-size: calc(100% + 24px) calc(100% + 24px);
  background-position: center;
  // width: 100vw;
  // max-width: 970px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  aspect-ratio: 16/7.76;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-video__button {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // max-width: 300px;
  aspect-ratio: 3/1;
  border-radius: 200px;
  padding: 10px;
  border: 1px solid $colorTextAdditional;
  gap: 20px;
}
.play-video__icon {
  max-width: 30px;
  max-height: 30px;
}
.play-video__text {
  color: $colorTextAdditional;
  font-weight: 500;
  line-height: 158.47%;
}
@media (min-width: 768px) {
  .video {
    padding: 70px 0;
  }
  .video__container {
    margin: 0 auto;
  }
  .video__content {
    max-width: 970px;
    margin: 0 auto;
  }
  .play-video__button {
    padding: 20px;
  }
  .play-video__icon {
    max-width: 60px;
    max-height: 60px;
  }
}
@media (min-width: 1200px) {
  .video {
    height: 570px;
    margin-bottom: 190px;
  }
  .video__container {
    position: relative;
  }
  .video__content {
    position: absolute;
    min-width: 970px;
    min-height: 430px;
    left: 50%;
    transform: translateX(-50%);
  }
  .video__text {
    margin-bottom: 70px;
  }
  .video__content::after {
    content: "";
    position: absolute;
    background: #e0e0e0;
    width: 1110px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -85px;
  }
  .play-video {
    aspect-ratio: auto;
    min-height: 430px;
  }
  .play-video__button {
    padding: 30px;
    max-width: 300px;
  }
}
