// Кольори
$colorTextPrimary: #323232;
$colorTextSecondary: #999999;
$colorTextTertiary: #000000;
$colorTextAdditional: #ffffff;
$colorAccent: #4985ff;
$colorBackgroundPrimary: #f6f6f8;

// Шрифти
$fontTextPrimary: "Montserrat", sans-serif;
