* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
}

.container {
  min-width: 320px;
  max-width: 1110px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.button {
  display: inline-block;
  padding: 15px 36px;
  color: #ffffff;
  border-radius: 30px;
  font-size: inherit;
  font-weight: 500;
  background-color: #4985ff;
  transition: background-color 200ms ease;
}
.button:hover {
  background-color: #6396ff;
}

.link {
  color: #4985ff;
  font-weight: 500;
  text-decoration: underline;
  transition: color 200ms ease;
}
.link:hover {
  color: #6396ff;
}

.adventages {
  max-width: 1110px;
  padding-top: 257px;
  margin: 0 auto;
  background: #F6F6F8;
}

.adventages__body {
  display: flex;
  gap: 121px;
  padding-bottom: 70px;
}

.adventages__title {
  font-size: 36px;
  font-weight: 700;
  width: 424px;
  margin-bottom: 60px;
}

.adventages__text {
  color: #999999;
  width: 489px;
  margin-bottom: 42px;
}

.adventages__link {
  color: #4985ff;
  font-weight: 500;
}

.adventages__photo {
  max-width: 500px;
  max-height: 400px;
}

.adventages__img {
  border-radius: 30px;
}

.adventages__statistics {
  display: flex;
  gap: 100px;
}

.statistics__icon {
  fill: #4985ff;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.statistics__count {
  font-size: 36px;
  color: #000000;
}

.statistics__text {
  color: #999999;
}