html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontTextPrimary;
  font-weight: 400;
  font-size: 16px;
  color: $colorTextPrimary;
}
.container {
  min-width: 320px;
  max-width: 1110px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.button {
  display: inline-block;
  padding: 15px 36px;
  color: $colorTextAdditional;
  border-radius: 30px;
  font-size: inherit;
  font-weight: 500;
  background-color: $colorAccent;
  transition: background-color 200ms ease;
  &:hover {
    background-color: lighten($colorAccent, 5%);
  }
}
.link {
  color: $colorAccent;
  font-weight: 500;
  text-decoration: underline;
  transition: color 200ms ease;
  &:hover {
    color: lighten($colorAccent, 5%);
  }
}
